body {
	padding: 0;
	margin: 0;
	
	min-width: 1200px;
	
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	
	background-color: #849d8f;
}

.wraper {
	background: #849d8f url("../img/carousel1.png") no-repeat 80px 0;
}

a {
	text-decoration: none;
}

.title, 
.subtitle {
	margin: 0;
	font-size: 35px;
	line-height: 41px;
	color: #ffffff;
	font-weight: bold;
}

.caption, 
.subcaption {
	color: #323232;
	margin: 0;
	margin-bottom: 5px;
 }

 .caption {
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
}

.subcaption {
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
	padding-top: 3px;
}

.main-navigation {
	position: relative;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.no-mark {
	list-style: none;
}

.site-navigation  .main-menu-li {
	color: #ffffff;
	font-weight: bold;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-menu-pt {
	color: #ffffff;
	padding: 5px 15px;
}

.main-menu-pt:hover,
.main-menu-pt:focus {
	background-color: #ffffff;
	border-radius: 20px;
}

.main-menu-pt:hover .main-menu-li,
.main-menu-pt:focus .main-menu-li {
	color: #000000;
}

.main-menu-pt:active {
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.3);
}

.current-page {
	background-color: #d07058;
	border-radius: 20px;
}

.current-page  .main-menu-li{
	border: none;
}

.modal {
	position: fixed;
	background-color: #f8f7f4;
	border-radius: 5px;
	box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.5);
	z-index: 3;
}

.popup-list {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 55px;
	left: 155px;
	width: 142px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.popup-list::after {
	position: absolute;
	content: "";
	/*width: 130px;*/
	height: 1px;
	top: 40px;
	left: 5px;
	right: 5px;
	background: #d1d0ce;
}

.popup-list li {
	padding: 5px 20px;
}

.popup-list li:first-child {
	padding: 10px 20px;
}

.popup-list li:last-child {
	padding-bottom: 15px;
}

.popup-list a {
	font-size: 14px;
	line-height: 16px;
	color: #000000;
}

.popup-list li:hover,
.popup-list li:focus,
.popup-list a:hover,
.popup-list a:focus {
	background-color: #fbded7;
}

.popup-list li:active,
.popup-list a:active {
	background-color: #f6b5a5;
}

.user-navigation a {
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
}

.user-style {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	font-weight: 500;
	
	background-color: #a1b4a9;
}

.user-navigation .user-style2 {
	font-size: 16px;
	line-height: 18px;
	color: #323232;
	font-weight: 500;
	
	background-color: #ffffff;
}

.user-style:hover,
.user-style:focus,
.user-style:active {
	font-size: 16px;
	line-height: 18px;
	color: #323232;
	font-weight: 500;
	
	background-color: #ffffff;
}

.search-form {
	top: 60px;
	right: 400px;
	padding: 20px 15px 20px 15px;
}

.search-form .input {
	width: 310px;
}

.login {
	top: 60px;
	right: 300px;
	padding: 20px;
}

.login .input{
	margin: 0;
	margin-bottom: 20px;
	width: 240px;
}

.login .button{
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 15px 25px;
	border-radius: 25px;
}

.login p {
	/*display: flex;*/
	/*position: absolute;*/
	float: right;
	margin: 0; 
	padding: 0;
	font-size: 13px;
	line-height: 24px;
	/*bottom: 50px;*/
}

 .login .forget,
 .login .new-reg {
	font-size: 13px;
	line-height: 24px;
	color: #323232;
	text-decoration: underline;
 }
 
 .login .forget:hover,
 .login .new-reg:hover,
 .login .forget:focus,
 .login .new-reg:focus,
 .login .forget:active,
 .login .new-reg:active {
	font-size: 13px;
	line-height: 24px;
	color: #ffbc9e;
	text-decoration: underline;
 }
 
.busket {
	top: 60px;
	right: 180px;
}
 
.busket-list {
	width: 540px;
	padding: 10px;
}

.busket-list td {
	padding: 10px;
}

.td-price-ice {
	white-space: nowrap;
}

.busket-form {
	display: flex;
	flex-direction: column;
	border-radius: 5px;
}

.busket-form .button{
	margin: -10px 15px 20px auto;
	padding: 15px 25px;
	border-radius: 25px;
}

.connection {
	top: 50%;
	left: 50%;
	padding: 20px;
	transform: translate(-50%, -50%);
	border-radius: 10px;
}

.connection  .input {
	width: 265px;
}

.connection .input-area {
	width: 430px;
	min-height: 155px;
	margin-bottom: 45px;
}

.close,
.del {
	border: none;
	background-color: transparent;
}

.connection  .btn {
	position: absolute;
	padding: 11px 22px;
	bottom: 23px;
	right: 20px;
}

.close {
	position: absolute;
	top: 15px;
	right: 15px;
}

.busy-hours {
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
}

.busy-hours  b{
	font-size: 22px;
	line-height: 24px;
}

.carousel p {
	width: 700px;
	font-size: 60px;
	line-height: 60.35px;
	font-weight: bold;
	margin: 0 auto 40px;
	padding-left: 55px;
}

.btn {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	border-radius: 25px;	
	background-color: #ea5239;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.btn:hover,
.btn:focus {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	
	background-color: #f17d65;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.btn:active {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	
	background-color: #db5338;
	box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.poster .btn-carousel {
	font-size: 32px;
	line-height: 44px;
	padding: 13px 40px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	border-radius: 40px;
	margin-left: 60px;
}

.poster .btn-carousel:hover,
.poster .btn-carousel:focus{
	font-size: 32px;
	line-height: 44px;
}

.poster .btn-carousel:active  {
	font-size: 32px;
	line-height: 44px;
}

.button {
	border: none;
	border-radius: 20px;
}

.present p {
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}

.present1 {
	background: url("../img/present1.jpg") no-repeat;
}

.present2 {
	background: url("../img/present2.jpg") no-repeat;
}

.description {
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	
	background-color: #ede1c8;
	background-image: url("../img/wafer.jpg");
	background-position: 0 0;
}


.description .shop {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	font-weight: 500;
}

.description p {
	position: relative;
}

.ice-cream::before,
.eko::before,
.ferm::before,
.delivery::before {
	content: "";
	position: absolute;
	top: -12px;
	left: 0;
	width: 49px;
	height: 49px;
	background: url("../img/ice-cream.svg") no-repeat;
}

.eko::before{
	background: url("../img/eco.svg") no-repeat;
}

.ferm::before{
	background: url("../img/cow.svg") no-repeat;
}

.delivery::before{
	background: url("../img/thermometer.svg") no-repeat;
}

.new {
	background-color: #ffffff;
	background-image: url("../img/new.jpg");
	background-position: 0 0;
}

.new a {
	font-size: 24px;
	line-height: 30px;
	color: #323232;
	font-weight: bold;
	text-decoration: underline;
}

.subscription {
	position: relative;
	display: flex;
	font: inherit;
	color: #5a5a5a;
	
	background: #ffffff url("../img/bg-post.svg") no-repeat 0 0;
}

.subscription-fon{
	margin: -15px;
	background-color: #ffffff;
	padding: 20px;
	border-radius: 15px;
}

.subscription-fon p{
	margin: 0;
	margin-bottom: 38px;
	padding-top: 9px;
}

.input {
	position: relative;
	width: 353px;
	height: 41px;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	padding-left: 15px;
	/*margin-right: 8px;*/
	background-color: #ffffff;
	border: 1px solid #999999;
	border-radius: 5px;
}


.input:hover,
.input:focus {
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
		
	background-color: #ffffff;
	/*border: 2px solid #c7c6c5;*/
	box-shadow: 0 0 0 1px #c7c6c5;
}
/*input::placeholder {
	/*padding-left: 15px;*//*
	color: #999999;
	font-weight: normal;
}

input::placeholder:hover,
input::placeholder:focus {
	padding-left: 15px;
	color: #c7c6c5;
	font-weight: normal;
}
*/
/*
.input:active .place-label {
	display: block;
	position: absolute;
	top: -20px;
	left: 0;
	background-color: green;
	width: 50px;
	height: 50px;
	z-index: 3;
	font-size: 54px;
}*/

.contacts{
	background-color: #ffffff;
}

.contacts p{
	font-size: 14px;
	line-height: 20px;
	color: #323232;
}

.contacts b{
	font-size: 18px;
	line-height: 24px;
	color: #323232;
}

.social a {
	color: #ffffff;
}

/*.about-us {
	column-count: 2;
}*/

.about-us  a{
	padding: 0;
	margin: 0;
	font-size: 13px;
	line-height: 18px;
	color: #ffffff;
	
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.about-us  a:hover,
.about-us  a:focus,
.about-us  a:active {
	font-size: 13px;
	line-height: 18px;
	color: #ffbc9e;
	
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.about-us  .heart{
	position: relative;
}

.heart::before{
	content: "";
	position: absolute;
	top: 2px;
	left: -20px;
	width: 15px;
	height: 13px;
	background-image: url("../img/heart.svg");
}
/*
.heart:hover .heart::before{
	background: url("../img/heartR.svg") no-repeat;
}*/

.copyright {
	text-align: center; 
	font-size: 12px;
	line-height: 18px;
	color: #ffffff;
}

.copyright img {
	display: block;
	margin: 2px; 
	margin-top: -13px;
}

.copyright a {
	font-size: 12px;
	line-height: 18px;
	color: #ffffff;
	
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright a:hover,
.copyright a:focus,
.copyright a:active {
	font-size: 12px;
	line-height: 18px;
	color: #ffbc9e;
	
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.busket-form {
	font-size: 13px;
	line-height: 16px;
	color: #323232;
	
	background-color: #f8f7f4;
}

.busket-form .price-ice {
	font-size: 13px;
	line-height: 16px;
	color: #999999;
}

.busket-form b{
	font-size: 15px;
	line-height: 18px;
	color: #323232;
}

.td-basket {
	text-align: right;
	border-top: 1px solid #c9c8c7;
}

.breadcrambs a {
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.breadcrambs a:hover,
.breadcrambs a:focus,
.breadcrambs a:active {
	font-size: 14px;
	line-height: 16px;
	color: #ffbc9e;
	
	border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.breadcrambs .current-breadcrambs {
	font-size: 14px;
	line-height: 22px;
	color: #ffffff;
}

.filter {
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	font-weight: 500;
}

.filter select,
.filter li {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	padding: 10px;
	padding-left: 45px;
	/*
	background-color: #a9b9af;*/
}

.filter select {
	position: relative;
	padding: 10px;	
	padding-right: 40px;
	border-radius: 20px;
	-webkit-appearance: none;
	-moz-appearance: none;      
	appearance: none;
	background-color: #a9b9af;
}

.filter select:hover,
.filter select:focus {
	font-size: 16px;
	line-height: 18px;
	color: #323232;
	
	background-color: #ffffff;
}

.select-arrow {
	position: relative;
}

.select-arrow::after {
	position: absolute;
	content: "";
	top: 45px;
	left: 170px;
	width: 11px;
	height: 10px;
	background: url("../img/select-arrow.svg") no-repeat;
}

.enter-filter { 
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	padding: 8px 30px;
	/*margin: 0;*/
	border-radius: 20px;
	background-color: #9cb0a4;
	border: 2px solid #ffffff;
}

.enter-filter:hover,
.enter-filter:focus {
	font-size: 16px;
	line-height: 18px;
	color: #323232;
	
	background-color: #fbfcfb;
	border: 2px solid #ffffff;
}

.enter-filter:active {
	font-size: 16px;
	line-height: 18px;
	color: #323232;
	
	background-color: #eaeaea;
	box-shadow: inset 0 3px 2px -2px rgba(0, 0, 0, 0.7);
	outline: none;
	border: none;
}
/*
.form-list-select,
.range,
.fat-list,
.topping-list {
	padding: 
}
*/
.paginator a{
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	font-weight: 500;
	padding: 3px 8px;
	border-radius: 50%;
}

.paginator a:hover,
.paginator a:focus{
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	font-weight: 500;
	
	background-color: #9db1a5;
}

.paginator .current,
.paginator a:active {
	font-size: 16px;
	line-height: 18px;
	color: #323232;
	font-weight: bold;
	
	background-color: #ffffff;
}

.catalog-list-item b {
	font-size: 45px;
	line-height: 45px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.kg {
	font-size: 30px;
	line-height: 30px;
}

.currency {
	font-size: 40px;
	line-height: 40px;
	font-weight: 500;
	margin-left: 5px;
	margin-right: 3px;
}

.catalog-list-item .catalog-title {
	font: inherit;
	font-weight: 500;
	margin: 0 0 0 10px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.catalog-list-item p {
	padding-top: 10px;
	text-align: center;
}

.catalog,
.hits {
	text-align: center;
}

.hit-list {
	display: flex;
}

.catalog-list-item {
	position: relative;
	text-align: left;
}

.hits-list li::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 61px;
	height: 61px;
	background-image: url("../img/hit.svg");
}

.item  {
	display: none;
	position: absolute;
	bottom: -45px;
	left: 33px;
	padding: 13px 16px;
	z-index: 2;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

.catalog-list-item::before {
	display: none;
	position: absolute;
	content: "";
	width: 295px;
	height: 405px;
	top: -6px;
	left: -14px;
	background-color: rgba(255, 255, 255, 0.1) ;
}

.catalog-list-item:hover.catalog-list-item::before ,
.catalog-list-item:focus.catalog-list-item::before  {
	display: block;
}

.catalog-list-item:hover .item,
.catalog-list-item:focus .item {
	display: block;
}

.catalog-list-item:hover .currency,
.catalog-list-item:focus .currency {
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.catalog-list img,
.hits-list img {
	border-radius: 50%;
	margin-bottom: -63px;
}

.svg {
	vertical-align: middle;
}

.button-search {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background-image: url("../img/loupe.svg");
	background-repeat: no-repeat;
	background-size: 17px;
	background-position: 50% 50%;
	text-indent: -10000px;
}

.button-search:hover,
.button-search:focus,
.button-search:active {
	background-image: url("../img/loupeB.svg");
}

.button-entrance {
	display: inline-block;
	width: 93px;
	height: 32px;
	padding: 8px 45px;
	box-sizing: border-box;
	border-radius: 20px;
	background-image: url("../img/entrance.svg");
	background-repeat: no-repeat;
	background-size: 21px 19px;
	background-position: 20% 50%;
}

.button-entrance:hover,
.button-entrance:focus,
.button-entrance:active {
	background-image: url("../img/entranceB.svg");
}

.button-basket, 
.button-basket2 {
	display: inline-block;
	width: 117px;
	height: 32px;
	padding: 8px 40px;
	box-sizing: border-box;
	border-radius: 20px;
	background-image: url("../img/basket.svg");
	background-repeat: no-repeat;
	background-size: 21px 20px;
	background-position: 15% 50%;
}

.button-basket2 {
	white-space: nowrap;
	background-image: url("../img/basket-red.svg");
}

.button-basket:hover,
.button-basket:focus,
.button-basket:active {
	background-image: url("../img/basketB.svg");
}

.social {
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 3px solid #c2cec7;
	background-repeat: no-repeat;
	background-position: center;
}

.social-tw {
	background-image: url("../img/twitter1.svg");
}

.social-im {
	background-image: url("../img/instagram1.svg");
}

.social-fb {
	background-image: url("../img/fb1.svg");
}

.social-vk {
	background-image: url("../img/vk1.svg");
}

.social-tw:hover,
.social-tw:focus {
	background-image: url("../img/twitter2.svg");
	border: 3px solid #dae2de;
}

.social-im:hover,
.social-im:focus {
	background-image: url("../img/instagram2.svg");
	border: 3px solid #dae2de;
}

.social-fb:hover,
.social-fb:focus {
	background-image: url("../img/fb2.svg");
	border: 3px solid #dae2de;
}

.social-vk:hover,
.social-vk:focus {
	background-image: url("../img/vk2.svg");
	border: 3px solid #dae2de;
}

.social-tw:active {
	background-image: url("../img/twitter3.svg");
	border: 3px solid #dae2de;
}

.social-im:active {
	background-image: url("../img/instagram3.svg");
	border: 3px solid #dae2de;
}

.social-fb:active {
	background-image: url("../img/fb3.svg");
	border: 3px solid #dae2de;
}

.social-vk:active {
	background-image: url("../img/vk3.svg");
	border: 3px solid #dae2de;
}
/*------------------------------------------------------------------------------------------------------------*/

.main-header {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	width: 1146px;
	margin: 0;
	padding: 5px 27px 0 27px;
}

.logo {
	margin-left: -8px;
	margin-top: 3px;
}

.main-navigation{
	display: flex;
	align-items: center;
	width: 100%;
	padding: 0;
	margin: 0;
}

.site-navigation {
	display: flex;
	padding: 0;
	margin: 0;
	/*margin-left: 15px;*/
}
/*
.main-menu-li {
	margin-right: 15px;
}
	/*
		.main-menu-li:last-child {
			margin-right: 0;}*/
			
.user-navigation-li{
	margin-left: 10px;
}

.user-navigation {
	display: flex;
	margin: 0;
	padding: 0;
	margin-left: auto;
}

.busy-hours {
	margin: 0;
	padding: 0;
	margin-left: auto;
	align-self: flex-end;
	text-align: right;
}

.container {
	width: 1146px;
	padding-left: 27px;
	padding-right: 27px;
}

.poster {
	position: relative;
	text-align: center;
	padding-top: 260px;
	/*margin: 0;
	padding: 0;
	
	overflow: hidden;*/
	width: 1045px;
	min-height: 490px;
	margin-bottom: 40px;
}

.slider-label {
	display: inline-block;
	width: 21px;
	height: 21px;
	margin-right: 6px;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50px;
	cursor: pointer;
}

.slider {
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 0;
	z-index: 5;
}

/*
.carousel {display: none;}

#slide1:checked ~ .carousel-pt {
	display: block;
}
*/
#slide1:checked ~ .slider-label:first-of-type,
#slide2:checked ~ .slider-label:nth-of-type(2),
#slide3:checked ~ .slider-label:nth-of-type(3) {
	background-color: #ffffff;
}

#slide1:checked ~ .wraper{
	background: #849d8f url("../img/carousel1.png") no-repeat 80px 0;
}
/*
#slide2:checked ~ .wraper {
	background: #8996a6 url("../img/carousel2.png") no-repeat 80px 0;
}

#slide3:checked ~ .wraper {
	background: #9d8b84 url("../img/carousel3.png") no-repeat 80px 0;
}
*/
.present-variant,
.news {
	display: flex;
	justify-content: space-between;
	min-height: 229px;
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}

.news {
	min-height: 219px;
}

.present1,
.present2,
.new,
.subscription {
	position: relative;
	margin: 0; 
	padding: 20px;
	width: 560px;
	box-sizing: border-box;
	border-radius: 15px;
}

.new p {
	width: 285px;
	margin: 0;
}

.present .btn {
	position: absolute;
	padding: 11px 22px;
	bottom: 23px;
	right: 20px;
}

.hits-list{
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-bottom: 24px;
}

.description {
	display: flex;
	flex-direction: column;
	margin-bottom: 38px;
	padding: 27px 20px;
	border-radius: 15px;
} 

.shop {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
}

.maps-contacts {
	display: flex;
	align-items: center;
	min-width: 1200px;
	min-height: 430px;
	margin: 0;
	margin-left: -27px;
	background: url("../img/map1.jpg") no-repeat 50% 50%;
}

.contacts {
	width: 302px;
	min-height: 304px;
	margin-left: auto;
	margin-right: 27px;
	padding: 20px;
	padding-left: 25px;
	box-sizing: border-box;
	border-radius: 15px;
}

.contacts p {
	margin: 0;
	padding-top: 8px;
}

.tel {
	margin-top: 15px;
	margin-bottom: 32px;
}

.contacts .btn {
	padding: 13px 30px;
}

.main-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 1146px;
	margin: 0;
	padding: 16px 27px 25px 27px;
}

.social-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin: 0;
}

.social { 
	margin-right: 11px; 
	margin-top: 7px;
}
/*
.social:last-child a { 
display: none 
}
*/

.social-vk {
	margin-right: 0;
}

.about-us {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 305px; 
	min-height: 46px; 
	padding: 0;
}

.about-us  li:nth-child(2){
	margin-right: 55px;
}

.copyright {
	width: 191px; 
	margin: 0;
	padding:0;
}

.breadcrambs {
	display: flex; 
	align-self: flex-end;
	margin: 0;
	padding: 0;
}

.filter {
	display: flex; 
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
	align-content: space-around;
	width: 861px;
	min-height: 133px;
	margin: 0;
	padding: 0;
	margin-top: 19px;
	margin-bottom: 38px;
}

.filter label { 
	margin: 0;
	padding: 7px 15px;
}

.fat-radio-list label,
.topping-list label { 
	margin: 0;
	padding: 0;
}

.fat-radio-list,
.topping-list {
	display: flex; 
	padding: 1px;
	margin: 0;
	border-radius: 20px;
	background-color: #a9b9af;
}

.catalog-list  {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-bottom: 35px;
}

.paginator {
	display: flex;
	justify-content: space-between;
	float: right;
	width: 190px;
	margin: 0; 
	margin-bottom: 32px;
	padding: 0;
}

.inner-page .main-footer {
	border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.inner-page .main-header {
	margin-bottom: 3px;
}

.catalog-list-item {
	width: 267px;
	margin-right: 0px;
}

.catalog-list-item:nth-child(4n) {
	margin-right: 0;
}

.catalog-list .catalog-list-item {
	margin-bottom: 25px;
}

.description-p{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.description-p p{
	width: 485px;
	padding-left: 55px;
	margin-bottom: 5px;
}

.subscription-form  .button {
	padding: 12px 15px;
	margin: 0;
	margin-left: 8px;
}

.back {
	transform: rotate(180deg);
}

.fat-radio-list label,
.topping-list label {
	position: relative;
}

.fat-radio-list label::after,
.topping-list label::after {
	content: "";
	position: absolute;
	background: url("../img/radio-off.svg") no-repeat;
	top: -3px;
	left: -33px;
	width: 25px;
	height: 25px;
	opacity: 0.8;
}

.topping-list label::after {
	background: url("../img/checkbox-off.svg") no-repeat;
	top: 0;
}

.fat-radio-list input[type="radio"]:checked + label::after{
	background: url("../img/radio-on.svg") no-repeat;
}

.topping-list input[type="checkbox"]:checked + label::after {
	background: url("../img/checkbox-on.svg") no-repeat;
}

.fat-radio-list input:hover ~ label::after ,
.fat-radio-list input:focus ~ label::after ,
.topping-list input:hover ~ label::after ,
.topping-list input:hover  ~ label::after  {
	opacity: 1;
}

.fat-radio-list input:disabled ~ label::after ,
.topping-list input:disabled ~ label::after  {
	opacity: 0.4;
}

.filter-block {
	display: flex;
	flex-direction: column;
}

.place-label {
    position: absolute;
    top: 148px;
    left: 40px;
	font-size: 16px;
	line-height: 24px;
    pointer-events: none;
}

.input:focus + .place-label,
.input:active + .place-label,
.input:valid + .place-label,
.input:invalid + .place-label {
	top: 115px;
	left: 42px;
	font-size: 11px;
	line-height: 13px;
	color: #8fbdec;
}

.input:valid + .place-label {
	color: #999999;
}

.block-range{
	align-self: flex-start;
	position: relative;
}

.range {
	margin-bottom: auto;
	position: relative;
}

.block-range::before,
.block-range::after {
	position: absolute;
	display: block;
	content: "";
	height: 5px;
	top: 45px;
}

.block-range::before {
	width: 177px;
	left: 20px;
	background-color: rgba(255, 255, 255, 0.5);
}

.block-range::after {
	width: 107px;
	left: 50px;
	background-color: rgba(255, 255, 255, 0.5);
}

/*
.block-range-fon {
	display: block;
	width: 220px;
	height: 40px;
	text-align: center;
	background-color: #a9b9af;
	border-radius: 20px;
}
*/
.block-range-start,
.block-range-end {
	position: absolute;
	display: block;
	content: "";
	width: 20px;
	height: 22px;
	background: url("../img/filter-button.svg") no-repeat;
	top: 38px;
	left: 50px;
	z-index: 2;
}

.block-range-end {
	top: 38px;
	left: 140px;
}

/*
.range::before,
.range::after {
	position: absolute;
	display: block;
	content: "";
	width: 20px;
	height: 22px;
	z-index: 2;
}

.range::before {
	background: url("../img/filter-button.svg") no-repeat;
	top: 38px;
	left: 50px;
}

.range::after {
	background: url("../img/filter-button.svg") no-repeat;
	top: 38px;
	left: 140px;
}
*/

.main-menu-pt:first-child:hover .popup-list {
	display: block;
}

.user-navigation-li:first-child:hover .search-form {
	display: block;
}

.user-navigation-li:nth-child(2):hover .login {
	display: block;
}

.user-navigation-li:last-child:hover .busket {
	display: block;
}

.modal,
.visually-hidden {
	display: none;
}
